<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos </title>
</head>
<body>
    <h1>Lista de Productos</h1>
     <br>
     {% for producto in productos %}

        {{producto.id}},  {{producto.nombre}},  {{producto.descripcion}}, 
        {{producto.id_categoria.categoria}}, {{producto.precio}}, {{producto.stock}}<br>

     {% endfor%}

</body>
</html>