<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body>
    <div style=" text-align: center;">
        <h2>Formulario CRUD para Productos</h2><br>
        <form action="productosAdd" method="POST" >
            {% csrf_token %}
            
            <pre>ID:                <input type="text" name="id" value="{{ nueva_id }}" readonly></pre>
            <pre>Nombre:            <input type="text" name="nombre" ></pre>
            <pre>Descripción:       <input type="text" name="descripcion"></pre>
            <pre>Precio:            <input type="text" name="precio"></pre>
            <pre>Stock:             <input type="text" name="stock"></pre>
            <pre>Categoría:         <select name="categoria">
                {% for categoria in categorias %}
                    <option value="{{categoria.id_categoria}}" >{{categoria.categoria}}</option>
                {% endfor %}
            </select></pre>

            <input type="submit" name="opcion" value="Agregar">

        </form> <br><br>
        <a href="{% url 'crud' %}"> Volver </a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
    </div>
</body>
</html>